
    <!--페이지 설명-->
    <div class="main-box">
    <div class="container">
      <center>
        <img src="http://cfile6.uf.tistory.com/image/2471A24F5350EE660BA965">
          <br><br>
        <h1>슈퍼 히어로 검색기</h1>
        <br>
        <p>과연 나는 어떤 슈퍼 히어로와 어울릴까요?</p>
        <p>당신과 어울리는 슈퍼 히어로를 알려드립니다.</p>  
        <br>
        <span style="color: red"><p>이름을 입력해주세요.</p></span>
      </center>
    </div>
    <!--/페이지 설명-->

    <!--검색창-->
    
    <form action="/hey/output" method="get" align="middle">
        <input type="text" name="frame">
        <input type="submit" value="확인!">
    </form>
    <!--/검색창-->
      
    <!--버튼, 클릭시 hey/girl로 링크연결-->
     
      